body { background: #6bd89; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 39px; display: flex; }
.block-user-0 { color: #ad5b; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #7507ef; font-size: 17px; margin-bottom: 5px; }
.block-database-2 { color: #6840d8; font-size: 18px; margin-bottom: 5px; }
.block-helper-3 { color: #3c808f; font-size: 18px; margin-bottom: 5px; }
.block-database-4 { color: #bde772; font-size: 16px; margin-bottom: 5px; }